.header {
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.8), 
		rgba($color-primary-dark, 0.8)), 
	url(../img/hero-small.jpg);
	height: 95vh; /*always 95% of the screen*/
	background-size: cover; /*always try to fit the width of the screen*/
	background-position: top; /*top part of the image is fixed regardless the responsive screen size*/
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*(x y, x y, x y, x y)*/
	position: relative;


	//if [ minimum screen-resolution is 192dpi AND minimum screen-width is 37.5em(600px) ] 
	//OR [minimum screen-width is 125em(2000px)]
	
	@media (min-resolution: 192dpi) and (min-width: 37.5em),
		@media (min-width: 125em) {
			background-image: linear-gradient(
				to right bottom, 
				rgba($color-primary-light, 0.8), 
				rgba($color-primary-dark, 0.8)), 
			url(../img/hero.jpg);
			height: 95vh;
			background-size: cover;
			background-position: top;
			clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
			position: relative;
	}

	@include respond(tab-port) {
		clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
	}

	@include respond(phone) {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}

	&__logo-box {
		position: absolute;
		top: 40px;
		left: 40px;

		@include respond(phone) {
			top: 30px;
			left: 30px;
		}
	}

	&__logo {
		height: 35px;

		@include respond(phone) {
			height: 29px;
		}
	}

	&__logo:hover {
		animation-name: logo;
		animation-duration: 1.2s; 
	}


	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}


