.header {
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.8), 
		rgba($color-primary-dark, 0.8)), 
	url(../img/hero.jpg);
	height: 95vh; /*always 95% of the screen*/
	background-size: cover; /*always try to fit the width of the screen*/
	background-position: top; /*top part of the image is fixed regardless the responsive screen size*/
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*(x y, x y, x y, x y)*/
	position: relative;

	&__logo-box {
		position: absolute;
		top: 40px;
		left: 40px;
	}

	&__logo {
		height: 35px;
	}

	&__logo:hover {
		animation-name: logo;
		animation-duration: 1.2s; 
	}


	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}


