.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		font-family: inherit; //input elements don't inherit automatically and need manual inherit
		font-size: 1.5rem;
		color: inherit; //same
		padding: 1.5rem 2rem;
		width: 90%;
		display: block;
		background-color: rgba($color-white, 0.9);
		border: none;
		border-radius: 3px;
		border-bottom: 4px solid transparent;

		&:focus {
			outline: none;
			border-bottom: 4px solid $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
			transition: all 0.3s;

			&:invalid {
				border-bottom: 4px solid #ff7730;
			}
		}

		&::-webkit-input-placeholder {
			color: #999;
		}
	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 1rem;
		display: block;
		transition: all 0.3s;
	}

	&__input:placeholder-shown ~ &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	} // " ~ " is sibling selector
	
	&__radio {
		&-input {
			display: none;
		}

		&-group {
			display: inline-block;
			width: 49%; //needs to have same "name" in html to toggle properly
			position: relative;
		}

		&-label {
			font-size: $default-font-size;
			cursor: pointer;
			color: $color-primary;
			padding-left: 3.8rem;
		}

		&-button {
			height: 3rem;
			width: 3rem;
			border: 5px solid $color-primary;
			border-radius: 50%;
			display: inline-block;
			position: absolute;
			left: 0;

			&::after {
				content: "";
				height: 1.3rem;
				width: 1.3rem;
				border-radius: 50%;
				display: block;
				background-color: $color-primary;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: opacity 0.1s;
			}
		}
	}

	&__radio-input:checked ~ &__radio-label &__radio-button:after {
		opacity: 1;
	}

	//first have to select the sibling of "__radio-input" , in other word the parent of "__radio-button" which is "&__radio-label" otherwise won't work
}
