*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; //better practice to use inheritence 
						//it's easier to change box-sizing for plugins and other components
}

 html {
 	font-size: 62.5%; //define 1 rem //default font-size by browser is 16px, so 62.5% of 16px is 10px
	

	//This order is a must otherwise conflicts will be created
	//The order is based on descending order of "width" from larger to lower

 	@include respond(tab-land) { //width < 1200px ?
		font-size: 56.25%;	//1rem = 9px
 	}

 	@include respond(tab-port) { //width < 900px ? 
		font-size: 50%;	//1rem = 8px
 	}

 	@include respond(big-desk) { //width > 1800px ?
 		font-size: 75%;	//1rem = 12px
 	}
 }

 body {
 	box-sizing: border-box;
 	padding: 3rem;

 	@include respond(tab-port) { 
		padding: 0;
 	}
 }

 ::selection {
 	background-color: $color-primary;
 	color: $color-white;
 }