body {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: $color-grey-dark;
	line-height: 1.7;
	padding: 30px;
}

.heading-primary {
	text-transform: uppercase;
	color: $color-white;

	&-main {
		display: block; /*takes full line, similar as endl*/
		font-size: 60px;
		font-weight: 400;
		letter-spacing: 35px;
		animation: moveInLeft 1s ease-in-out;
	}

	&-sub {
		display: block;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 14.4px;
		word-spacing: 0.5px;
		animation: moveInRight 1s ease-in-out;
		margin-bottom: 40px;
	}
}

.heading-secondary {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	display: inline-block; //the image will occupy the space of the text only, otherwise would take the full block
						//as it's inline-block, it will be treated as text to it's parent
	-webkit-background-clip: text; //background only will be only for the text shape
	color: transparent; //to show the linear-gradient color as text color
	letter-spacing: 2px;
	transition: all 0.2s;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 5px 10px 20px rgba($color-black, 0.2); //[x y blur color]
	}
}